<!DOCTYPE html>
<html style="height: 100%" ng-app="app" ng-controller="GeneratorCtrl">
<head>
    <title></title>


    <link rel="stylesheet" href="css/jet.css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>

    <script type="text/javascript" src="vendor/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="vendor/angular.js"></script>
    <script type="text/javascript" src="vendor/lodash.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="vendor/allowTabChar.js"></script>
    <script type="text/javascript" src="vendor/ZeroClipboard.js"></script>

    <script type="text/javascript" src="app/dataStore.js"></script>
    <script type="text/javascript" src="app/directives.js"></script>
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/generatorCtrl.js"></script>
    <script type="text/javascript" src="app/dataAdapters.js"></script>
    <script type="text/javascript" src="app/jet.js"></script>

</head>
<body style="height: 100%" ng-init="showHelp=false;showTemplatePreview=false">

<div class="row-fluid">
    <div class="col-lg-3 col-lg-offset-1" >
        <h2>Jet Data Generator</h2>
    </div>

    <div class="col-lg-offset-5 col-lg-2" style="padding: 10px">
        <!-- Help Button-->
        <a href="javascript:void(0)" data-container="body" data-toggle="popover" data-placement="bottom"
                jet-popover="helpHtml()"
                data-html="true" style="margin: 5px;">
            <span class="glyphicon glyphicon-question-sign"></span> Help
        </a>
    </div>
</div>


<div class="row-fluid">
    <div class="col-lg-offset-1 col-lg-10">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#templateTab" role="tab" data-toggle="tab">Template</a></li>
            <li><a href="#dataTab" role="tab" data-toggle="tab">Data</a></li>
            <li><a href="#stashTab" role="tab" data-toggle="tab">Stash</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content" style="padding: 10px 0">

            <!-- Template tab -->
            <div class="tab-pane active" id="templateTab">

                <div class="row">
                    <div class="col-lg-10">
                        <!-- List of Macroses to insert -->
                        <div style="padding: 10px">
                            <strong>Insert:</strong>
                            <a ng-repeat="m in macroses track by m.name" href="javascript:void(0)"
                               jet-append-to="#template" title="{{m.description}}" style="margin-right: 10px; color:green">{{m.name}}</a>
                        </div>
                        <textarea id="template" rows="10" data-ng-model="config.template" ng-trim="false"
                                  data-jet-allow-tab-char="config.tabsToSpaces"></textarea>

                        <!-- Template Preview -->
                        <div class="panel panel-default" data-ng-show="showTemplatePreview">
                            <div data-ng-bind-html="config.template | highlightTemplate" class="panel-body preview">
                            </div>
                        </div>
                    </div>

                    <!-- Template Sidebar -->
                    <div class="col-lg-1">
                        <p>
                            <div class="btn-group-vertical btn-group-sm" data-toggle="buttons">
                            <label class="btn btn-default" data-ng-click="showTemplatePreview = !showTemplatePreview">
                                <input type="checkbox">Preview
                            </label>
                            <label class="btn btn-default" data-ng-click="config.tabsToSpaces = !config.tabsToSpaces">
                                <input type="checkbox"> Tabs to spaces
                            </label>
                        </div>
                        </p>
                        <p>
                            <button class="btn btn-default btn-sm" data-ng-click="stashTemplate()">Stash Template</button>
                        </p>
                    </div>
                </div>


            </div>

            <!-- Data tab-->
            <div class="tab-pane" id="dataTab">
                <!-- Data Field -->
                <div class="row">
                    <div class="col-lg-10">
                        <label><input type="checkbox" id="isJson" data-ng-model="config.isJson"/>Json</label>
                        <textarea id="data" rows="10" data-ng-model="config.data" data-jet-allow-tab-char="config.tabsToSpaces"></textarea>
                    </div>
                </div>

                <!-- Data Config -->
                <div class="row" ng-hide="config.isJson">
                    <div class="col-lg-2">
                        Split rows using:
                        <input type="text" data-ng-model="config.dataRowSeparator" class="specificator"
                               data-ng-class="{'known':isKnownSpec(config.dataRowSeparator)}">
                        <span class="spec-descr">({{spec(config.dataRowSeparator)}})</span>

                    </div>
                    <div class="col-lg-3">
                        Split columns using:
                        <input type="text" data-ng-model="config.dataColumnSeparator" class="specificator"
                               data-ng-class="{'known':isKnownSpec(config.dataColumnSeparator)}">
                        <span class="spec-descr">({{spec(config.dataColumnSeparator)}})</span>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="stashTab">
                <div data-ng-repeat="t in stashTemplates">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="preview" data-ng-bind-html="t | highlightTemplate"></div>
                        </div>

                        <div class="row">
                            <div class="col-lg-2">
                                <a href="#" data-ng-click="setTemplateFromStash(t)"
                                   data-tab-navigate="#templateTab"><strong>Set</strong></a>
                                &nbsp;&nbsp;
                                <a href="#" data-ng-click="setTemplateFromStash(t, true)" data-tab-navigate="#templateTab">Unstash</a>
                            </div>
                            <div class="col-lg-2">
                                <a href="#" data-ng-click="removeTemplateFromStash($index)">
                                    <span class="glyphicon glyphicon-remove"></span> Remove
                                </a>
                            </div>
                        </div>

                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row-fluid">
    <div class="col-lg-offset-1 col-lg-1">
        <button data-ng-click="generate()" class="btn btn-primary">Generate</button>
    </div>
    <div class="col-lg-offset-1 col-lg-4">
        <div>
            Join template with:
            <input type="text" data-ng-model="config.joinWith" class="specificator"
                   data-ng-class="{'known':isKnownSpec(config.joinWith)}">
            <span class="spec-descr">({{spec(config.joinWith)}})</span>
        </div>
    </div>
</div>

<!-- Output pane-->
<div class="row-fluid">
    <div class="col-lg-offset-1 col-lg-10">
            <h3>
                Output <button id="btnCopyToClipBoard" class="btn btn-sm btn-default" data-clipboard-target="output">Copy</button>
                <small id="copiedNotify">copied</small>
            </h3>

        <textarea id="output" rows="23" data-jet-allow-tab-char></textarea>
        <div data-ng-bind-html="output | highlightOutput"></div>
    </div>
</div>

</body>
</html>